build
mx.scratch
!.settings
Drivers/CMSIS/Core
Drivers/CMSIS/Core_A
Drivers/CMSIS/docs
Drivers/CMSIS/DSP
Drivers/CMSIS/NN
Drivers/CMSIS/RTOS
Drivers/CMSIS/RTOS2
Drivers/CMSIS/Device/ST/STM32H7xx/Source
